---
import { getCollection } from "astro:content";
import BlogCard from "@/components/blog/BlogCard.astro";
import HeroSection from "@/components/landing-page/HeroSection.astro";
import LatestSection from "@/components/landing-page/LatestSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import MainLayout from "@/layouts/MainLayout.astro";

const allPosts = (await getCollection("blogs"))
  .map((post) => ({
    id: post.id,
    title: post.data.title,
    description: post.data.description,
    pubDate: post.data.pubDate,
    tags: post.data.tags,
    updatedDate: post.data.updatedDate,
    author: post.data.author,
    metadata: post.data.metadata,
  }))
  .sort((a, b) => b.pubDate.valueOf() - a.pubDate.valueOf());

const allTags = [...allPosts.flatMap((post) => post.tags || [])];
const uniqueTags = [...new Set(allTags)];

const posts = allPosts.slice(0, 6);
---

<MainLayout
  title={`Home | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  className="w-full p-0"
>
  <HeroSection uniqueTags={uniqueTags} />

  <div class="px-4 md:px-6">
    <LatestSection
      title="Blog"
      accentColor="text-nebula"
      description="Research notes, project write-ups, and reflections on HCI methods and findings."
      viewAllHref="/blogs"
      viewAllText="View All Articles"
      viewAllButtonWidth="165px"
    >
      {posts.map((blog) => <BlogCard blog={blog} />)}
    </LatestSection>
  </div>
</MainLayout>